.cardsWrapper{
    gap: 30px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
   
}




@media (max-width: 768px) {
  .cardsWrapper {
    
  }
}

@media (max-width: 576px) {
  .cardsWrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}