
.pageWrapper{
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap:10px;

}

.wrapper h2{
    margin: 0;
}



.contentWrapper{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}

 .answerButton {
    background-color: rgb(222, 21, 21);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border-color: coral;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(52, 46, 46);
    margin-left: 70%;
    cursor: pointer;
    position: sticky;
    text-decoration: none;
}

 .answerButton:hover{ 
 background-color: coral;
 height:120px;
 width:120px;
 border-radius: 60px;
 color:rgb(52, 46, 46);
 font-size: larger;
 border-color: rgb(222, 21, 21);

}

.questionH1 {
    margin:20px;

}

.answerBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.answerBox h2 {

    font-size: 20px;
    color: rgb(36, 10, 60);
}