


.card{
    background-color: rgb(237, 246, 246);
    height: 100px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: .3s;
}

.card:hover{
    background-color: rgb(154, 208, 113);
}




.link{
    text-decoration: none;
    color: rgb(72, 19, 19);
    margin:0;
}

.deleteButton {
     width: 70px;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(228, 214, 25);
    color: rgb(53, 42, 42);
    font-size: smaller;
    align-self: center;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;;
}


.questionText{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:rgb(68, 60, 60);
    margin: 0;
    padding: 5px;

}

.creationDate {
    margin-bottom: 20px;
    font-size: smaller;
    color: rgb(0, 46, 0);
}

@media (max-width: 1100px) {

    .card {
        height: 150px;
        width: 1000px;
        margin-right: 20px;
    }

    .questionText{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:rgb(68, 60, 60);
    margin: 0;
    padding: 5px;
    font-size: 18px;

}

.creationDate {
    margin-bottom: 0px;
    font-size: smaller;
    color: rgb(0, 46, 0);
}


}
@media (max-width: 700px) {

    .card {
        height: 200px;
        width: 500px;
    }
    
   
    
  }

@media (max-width: 578px) {

    .navbar {
        justify-content: flex-start;
   
    }

    .card {
        width: 300px;
    }

    .questionText{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:rgb(68, 60, 60);
    margin: 0;
    padding: 5px;
    font-size: 14px;

}

.creationDate {
    margin-bottom: 0px;
    font-size: smaller;
    color: rgb(0, 46, 0);
}


.deleteButton {
     width: 70px;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(228, 214, 25);
    color: rgb(53, 42, 42);
    font-size: smaller;
    align-self: center;
    cursor: pointer;
}
    
   
    
  }

