


.card{
    background-color: rgb(237, 246, 246);
    max-width: 80%;
    height: 100px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: .3s;
}

.card:hover{
    background-color: rgb(154, 208, 113);
}




.link{
    text-decoration: none;
    color: rgb(72, 19, 19);
    margin:0;
}

.link button {
     width: 70px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(228, 214, 25);
    color: rgb(53, 42, 42);
    font-size: smaller;
    border-style: none;
    font-family: 'Courier New', Courier, monospace;
}



.questionText{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:rgb(68, 60, 60);
    margin: 0;
    padding: 5px;

}

.creationDate {
    margin-bottom: 20px;
    font-size: smaller;
    color: rgb(0, 46, 0);
}